#project-view{
    background-color: #003c4e;
    overflow: hidden;

    .hero{
        min-height: 70vh;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.25);
        h1{
            font-size: 3.5rem;
            font-family: $font-amatica;
            font-weight: normal;
            line-height: 1;
            @media only screen and (min-width: $break-sm){
                font-size: 4.5rem;
            }
            @media only screen and (min-width: $break-med) {
                font-size: 5.5rem;
            }
            @media only screen and (min-width: $break-lg){
                font-size: 7rem;
            }
        }
        p{
            font-size: 1.25rem;
            padding-top: 2rem;
            @media only screen and (min-width: $break-sm){
                font-size: 1.5rem;
            }
            @media only screen and (min-width: $break-med) {
                font-size: 1.8rem;
            }
            @media only screen and (min-width: $break-lg){
                font-size: 2rem;
            }
        }
    }
    .content{
        width: 100%;
        margin: 0 auto;
        padding: 1rem 2rem 2rem;
        box-sizing: border-box;
        transition: 0.3s ease all;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        @media only screen and (min-width: $break-sm) {
            width: 90%;
            padding: 2.5rem 2rem 3rem;
        }
        @media only screen and (min-width: $break-med) {
            width: 80%;
            padding: 4.625rem 2rem 4rem;
        }
        @media only screen and (min-width: $break-lg) {
            width: 75%;
        }
        p{
            padding-top: 1.5rem;
            font-size: 14pt;
            line-height: 1.4;
            font-weight: 300;
            @media only screen and (max-width: 767px) and (orientation: landscape){
                font-size: 16pt;
                line-height: 1.5;
            }
            @media only screen and (min-width: $break-sm) {
                font-size: 16pt;
                line-height: 1.5;
            }
            @media only screen and (min-width: $break-med) {
                font-size: 18pt;
                padding-top: 1.6rem;
            }
            @media only screen and (min-width: $break-lg) {

            }
            a {
                border-bottom: 1px solid transparent;
                padding: 0 .2rem .2rem;
                @media only screen and (min-width: $break-sm) {
                    &:hover {
                        border-color: #00b1e6;
                    }
                }
            }
        }
        .images{
            text-align: center;
            padding-top: 2rem;
            @media only screen and (min-width: $break-sm) {
                padding-top: 3rem;
            }
            span{
                margin: 2rem 0;
                border-radius: 4px;
                overflow: hidden;
                font-size: 0;
                display: block;
                & + span{
                    margin-top: 4rem;
                }
                a{
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }
        }
    }
    img{
        width: 100%;
    }
    .container{
        padding-bottom: 1rem;
    }
    .error{
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-bottom: 0;
        p{
            font-size: 1.2rem;
            @media only screen and (min-width: $break-sm){
                font-size: 1.5rem;
            }
            @media only screen and (min-width: $break-med) {
                font-size: 1.8rem;
            }
            @media only screen and (min-width: $break-lg){
                font-size: 2rem;
            }
            & + p{
                padding-top: 1rem;
            }
        }
    }
}
